{% extends 'baselist.html' %}
{% load widget_tweaks %}
{% load static %}
{% block head_list %}
    <script src="{% static 'category/js/CRUD.js' %}"></script>
{% endblock %}

{% block search %}

{% endblock %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 20%;">
            Name <i class="mdi mdi-sort-alphabetical"></i></th>
        <th scope="col" style="width: 55%;" class="w3-center">Description</th>
        <th scope="col" style="width: 10%">Icon</th>
        <th scope="col" style="width: 15%;" class="w3-center">Options</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}


{% block javascript %}
    <script>
      let ent = '{{ entity }}',
        defaultTitleModal = `<b><i class="mdi mdi-plus-circle-outline"></i> New ${ent}</b>`
    </script>
{% endblock %}