{% extends 'user/form_user.html' %}
{% load static %}
{% block head_form %}
    <link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}">
    <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'user/lib/jQuery-Fileselect/bootstrap-fileselect.min.js' %}"></script>
    <script src="{% static 'user/js/form.js' %}"></script>
    <link rel="stylesheet" href="{% static 'user/css/style.css' %}">
{% endblock %}
