.mdi-15px.mdi-set, .mdi-15px.mdi:before {
    font-size: 15px;
}

.user-select-none {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    user-select: none !important;
}

.w3-hoverable-light tbody tr:hover, .w3-ul.w3-hoverable-light li:hover {
    background-color: rgba(0, 0, 0, .1);
}

#searchInput {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
#searchInput:focus {
    width: 300px;
}

.nav-pills .nav-link:not(.active):hover {
    color: #777;
}

*::-webkit-scrollbar {
    width: 9px;
}

*::-webkit-scrollbar-track {
    background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #007bff, #73b1f5);
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb:hover {
    background: #555;
    background: linear-gradient(to bottom, #006ade, #007bff);
}

.w3-margin-bottom-7 {
    margin-bottom: 7px !important
}

.text-decoration-underline {
    text-decoration: underline !important;
}

.table > thead > tr > th {
    border-bottom: solid 1px #000 !important;
}

.modal-dialog.modal-dialog-top {
    margin-top: 0 !important
}


.modal.fade .modal-dialog {
    transition-duration: .12s
}

.modal.fade .modal-dialog.modal-dialog-popin {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.modal.fade .modal-dialog.modal-dialog-popout {
    -webkit-transform: scale(.9);
    transform: scale(.9)
}

.modal.fade .modal-dialog.modal-dialog-slideup {
    -webkit-transform: translate(0, 10%);
    transform: translate(0, 10%)
}

.modal.fade .modal-dialog.modal-dialog-slideright {
    -webkit-transform: translate(-10%, 0);
    transform: translate(-10%, 0)
}

.modal.fade .modal-dialog.modal-dialog-slideleft {
    -webkit-transform: translate(10%, 0);
    transform: translate(10%, 0)
}

.modal.fade .modal-dialog.modal-dialog-fromright {
    -webkit-transform: translateX(25%) rotate(10deg) scale(.9);
    transform: translateX(25%) rotate(10deg) scale(.9)
}

.modal.fade .modal-dialog.modal-dialog-fromleft {
    -webkit-transform: translateX(-25%) rotate(-10deg) scale(.9);
    transform: translateX(-25%) rotate(-10deg) scale(.9)
}

.modal.show .modal-dialog.modal-dialog-popin, .modal.show .modal-dialog.modal-dialog-popout {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.modal.show .modal-dialog.modal-dialog-slideleft, .modal.show .modal-dialog.modal-dialog-slideright, .modal.show .modal-dialog.modal-dialog-slideup {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
}

.modal.show .modal-dialog.modal-dialog-fromleft, .modal.show .modal-dialog.modal-dialog-fromright {
    -webkit-transform: translateX(0) rotate(0) scale(1);
    transform: translateX(0) rotate(0) scale(1)
}

.max-width-70px {
    max-width: 70px !important;
}

/*Pastillas circulares*/

.circular-left,
span.select2-selection {
    border-top-left-radius: 1.5rem !important;
    border-bottom-left-radius: 1.5rem !important;
}

.circular-right {
    border-top-right-radius: 1.5rem !important;
    border-bottom-right-radius: 1.5rem !important;
}

.circular-top {
    border-top-left-radius: 1.5rem !important;
    border-top-right-radius: 1.5rem !important;
}

.circular-bottom {
    border-bottom-right-radius: 1.5rem !important;
    border-bottom-left-radius: 1.5rem !important;
}

.circular,
input[type='search'],
.dropdown-menu,
.daterangepicker,
span.select2-dropdown,
li.select2-results__option,
div.calendar-table table.table-condensed tbody tr td,
div.bs-searchbox > *,
div.jconfirm-box {
    border-radius: 1.5rem !important;
}

input[type='search'] {
    padding-left: 8px!important;
}

.circular-circle, a.btn-xs {
    border-radius: 100% !important;
}

a.btn-xs {
    width: 27px;
}

a.nav-link {
    border-radius: 0 2rem 2rem 0 !important;
}

.nav-sidebar > .nav-item > .nav-link.active {
    box-shadow: none !important;
}

a.brand-link img {
    margin-left: .5rem;
}

.main-sidebar {
    width: 250px;
}

.modal-content {
    box-shadow: none !important;
}

.dropdown-item.active {
    background-color: var(--indigo);
}

a.dropdown-item.active:hover {
    color: #fff
}