.mdi-15px.mdi-set, .mdi-15px.mdi:before {
    font-size: 15px;
}

.user-select-none {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    user-select: none !important;
}

.w3-hoverable-light tbody tr:hover, .w3-ul.w3-hoverable-light li:hover {
    background-color: rgba(0, 0, 0, .1);
}

#searchInput {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
#searchInput:focus {
    width: 300px;
}

.nav-pills .nav-link:not(.active):hover {
    color: #777;
}

ul.nav-treeview li.nav-item > a, ul.nav-treeview li.nav-item > a i.nav-icon {
    font-size: 95%;
    line-height: 1.5;
}

*::-webkit-scrollbar {
    width: 9px;
}

*::-webkit-scrollbar-track {
    background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #007bff, #73b1f5);
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb:hover {
    background: #555;
    background: linear-gradient(to bottom, #006ade, #007bff);
}

.w3-margin-bottom-7 {
    margin-bottom: 7px !important
}

.text-decoration-underline {
    text-decoration: underline !important;
}

.table > thead > tr > th {
    border-bottom: solid 1px #000 !important;
}

.modal-dialog.modal-dialog-top {
    margin-top: 0 !important
}


.modal.fade .modal-dialog {
    transition-duration: .12s
}

.modal.fade .modal-dialog.modal-dialog-popin {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.modal.fade .modal-dialog.modal-dialog-popout {
    -webkit-transform: scale(.9);
    transform: scale(.9)
}

.modal.fade .modal-dialog.modal-dialog-slideup {
    -webkit-transform: translate(0, 10%);
    transform: translate(0, 10%)
}

.modal.fade .modal-dialog.modal-dialog-slideright {
    -webkit-transform: translate(-10%, 0);
    transform: translate(-10%, 0)
}

.modal.fade .modal-dialog.modal-dialog-slideleft {
    -webkit-transform: translate(10%, 0);
    transform: translate(10%, 0)
}

.modal.fade .modal-dialog.modal-dialog-fromright {
    -webkit-transform: translateX(25%) rotate(10deg) scale(.9);
    transform: translateX(25%) rotate(10deg) scale(.9)
}

.modal.fade .modal-dialog.modal-dialog-fromleft {
    -webkit-transform: translateX(-25%) rotate(-10deg) scale(.9);
    transform: translateX(-25%) rotate(-10deg) scale(.9)
}

.modal.show .modal-dialog.modal-dialog-popin, .modal.show .modal-dialog.modal-dialog-popout {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.modal.show .modal-dialog.modal-dialog-slideleft, .modal.show .modal-dialog.modal-dialog-slideright, .modal.show .modal-dialog.modal-dialog-slideup {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
}

.modal.show .modal-dialog.modal-dialog-fromleft, .modal.show .modal-dialog.modal-dialog-fromright {
    -webkit-transform: translateX(0) rotate(0) scale(1);
    transform: translateX(0) rotate(0) scale(1)
}

.max-width-70px, button.buttons-print,
button.buttons-html5 {
    max-width: 70px !important;
}

/*Pastillas circulares*/

.circular-left,
span.select2-selection {
    border-top-left-radius: 1.5rem !important;
    border-bottom-left-radius: 1.5rem !important;
}

.circular-right {
    border-top-right-radius: 1.5rem !important;
    border-bottom-right-radius: 1.5rem !important;
}

.circular-top {
    border-top-left-radius: 1.5rem !important;
    border-top-right-radius: 1.5rem !important;
}

.circular-bottom {
    border-bottom-right-radius: 1.5rem !important;
    border-bottom-left-radius: 1.5rem !important;
}

.circular,
input[type='search'],
.dropdown-menu,
.daterangepicker,
span.select2-dropdown,
li.select2-results__option,
div.calendar-table table.table-condensed tbody tr td,
div.bs-searchbox > *,
div.jconfirm-box {
    border-radius: 1.5rem !important;
}

input[type='search'] {
    padding-left: 8px !important;
}

.circular-circle, a.btn-xs {
    border-radius: 100% !important;
}

a.btn-xs {
    width: 27px;
}

a.nav-link {
    border-radius: 0 2rem 2rem 0 !important;
}

.nav-sidebar > .nav-item > .nav-link.active {
    box-shadow: none !important;
}

a.brand-link img {
    margin-left: .5rem;
}

.main-sidebar {
    width: 250px;
}

.modal-content {
    box-shadow: none !important;
}

.dropdown-item.active {
    background-color: var(--indigo);
}

a.dropdown-item.active:hover {
    color: #fff
}

/*Clase btn-close de bootstrap 5*/

.btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em 0.25em;
    color: #000;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    border: 0;
    border-radius: 0.25rem;
    opacity: 0.5;
}

.btn-close:hover {
    color: #000;
    text-decoration: none;
    opacity: 0.75;
}

.btn-close:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    opacity: 1;
}

.btn-close:disabled, .btn-close.disabled {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    opacity: 0.25;
}

.btn-close-white {
    filter: invert(1) grayscale(100%) brightness(200%);
}

.w-40 {
    width: 40% !important;
}

.w-15 {
    width: 15% !important;
}

.w-55 {
    width: 55% !important;
}

.w-20 {
    width: 20% !important;
}

.w-35 {
    width: 35% !important;
}

.w-10 {
    width: 10% !important;
}

.rayita, .rayita-light {
    margin: 2px 0 2px 1px;
}

.rayita {
    border-top: 1px solid #4f5962;
}

.rayita-light {
    border-top: 1px solid #d3d4d5;
}

.dataTables_empty {
    text-align: center;
}

.form-floating {
    position: relative;
}

.form-floating > .form-control,
.form-floating > .form-select {
    height: calc(3.5rem + 2px);
    line-height: 1.25;
}

.form-floating > label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 1rem 0.75rem;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .form-floating > label {
        transition: none;
    }
}

.form-floating > .form-control {
    padding: 1rem 0.75rem;
}

.form-floating > .form-control::-moz-placeholder {
    color: transparent;
}

.form-floating > .form-control::placeholder {
    color: transparent;
}

.form-floating > .form-control:not(:-moz-placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
}

.form-floating > .form-control:focus, .form-floating > .form-control:not(:placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
}

.form-floating > .form-control:-webkit-autofill {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
}

.form-floating > .form-select {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
}

.form-floating > .form-control:not(:-moz-placeholder-shown) ~ label {
    opacity: 0.65;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
    opacity: 0.65;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}

.form-floating > .form-control:-webkit-autofill ~ label {
    opacity: 0.65;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}

.is-invalid::placeholder {
    color: #dc3545;
}

.cursor-pointer {
    cursor: pointer !important;
}

.border-light {
    border-color: #ced4da !important;
}

.border-light:focus {
    border-color: #80bdff !important;
}

.custom-select.form-control-border, .form-control.form-control-border {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    box-shadow: inherit;
}

input.task-add {
    border-color: var(--gray);
    /*background-color: transparent;*/
    padding-left: 1rem !important;
}

#scroll {
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #3498db;
    text-indent: -9999px;
    display: none;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px
}

#scroll span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -12px;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom-color: #ffffff;
}

#scroll:hover {
    background-color: #e74c3c;
    opacity: 1;
    filter: "alpha(opacity=100)";
    -ms-filter: "alpha(opacity=100)";
}