#image_label {
    font-weight: 400;
    margin-top: -6.5px;
    margin-left: -11px;
    margin-right: 8px;
}

#image_label, #image_span {
    float: left
}

span.desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
}