li.select2-selection__choice {
    border-radius: 1.5rem !important;
    background-color: var(--primary);
    color: #fff !important;
}

span.select2-selection {
    border-top-right-radius: 1.5rem !important;
    border-bottom-right-radius: 1.5rem !important;
}

.custom-file-label {
    border-radius: 1.5rem;
    cursor: pointer;
}

.custom-file-label::after {
    background-color: var(--primary);
    color: white;
    cursor: pointer;
}

[class*=icheck-] > input:first-child:disabled + input[type=hidden] + label,
[class*=icheck-] > input:first-child:disabled + input[type=hidden] + label::before,
[class*=icheck-] > input:first-child:disabled + label, [class*=icheck-] > input:first-child:disabled + label::before {
    pointer-events: none;
    cursor: default;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 1 !important;
    border-radius: 1.5rem;
}

.img-user:hover {
    transform: scale(2.5);
    transition-duration: 0.5s;
}

.img-user {
    border-radius: 0.2rem;
    /*border: .5mm solid  darkslategrey;*/
    /*background-clip: border-box;*/
}