{% extends 'layout.html' %}
{% load static %}
{% block head %}
    <script src="{% static 'lib/highcharts-8.1.2/highcharts.js' %}"></script>
    <script src="{% static 'lib/highcharts-8.1.2/modules/exporting.js' %}"></script>
    <script src="{% static 'lib/highcharts-8.1.2/modules/export-data.js' %}"></script>
    <script src="{% static 'lib/highcharts-8.1.2/modules/accessibility.js' %}"></script>

    <script src="{% static 'dashboard/js/chars.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div id="container"></div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <div id="container-pie"></div>
            </div>
        </div>
        <br>
    </div>
    <script type="application/javascript">
      graphcolumn = Highcharts.chart('container', {
        chart: {
          type: 'column'
        },
        title: {
          text: `${new Date().getFullYear()} Sales reports`
        },
        subtitle: {
          text: 'Reports by columns'
        },
        xAxis: {
          categories: [
            'January',
            'February',
            'March',
            'April',
            'May',
            'June',
            'July',
            'August',
            'September',
            'October',
            'November',
            'December'
          ],
          crosshair: true
        },
        yAxis: {
          min: 0,
          title: {
            text: 'Values $'
          }
        },
        tooltip: {
          headerFormat: `<span style="font-size: 10px">{point.key}</span><table>`,
          pointFormat: `<tr><td style="color: {series.color};padding: 0">{series.name}: </td>
                                <td style="padding: 0"><b>{point.y:.1f} $</b></td></tr>`,
          footerFormat: `</table>`,
          shared: true,
          useHTML: true
        },
        plotOptions: {
          column: {
            pointPadding: 0.2,
            borderWidth: 0
          }
        },
      })
      graphpie = Highcharts.chart('container-pie', {
        chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false,
          type: 'pie'
        },
        title: {
          text: `Percentage of sales of the products of month ${new Date().getMonth() + 1} of  ${new Date().getFullYear()}`
        },
        tooltip: {
          pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>',
        },
        accessibility: {
          point: {
            valueSuffix: '%'
          }
        },
        plotOptions: {
          pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
              enabled: true,
              format: '<b>{point.name}</b>: {point.percentage:.1f} %'
            }
          }
        },
      })
    </script>
{% endblock %}
