{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ title }}</title>
    <!-- w3 css and js-->
{#    <link rel="stylesheet" href="{% static 'lib/w3-school/css/w3.min.css' %}">#}
{#    <script src="{% static 'lib/w3-school/js/w3.js' %}"></script>#}

    <link rel="icon" href="{% static 'img/gestion.png' %}" type="image/x-icon">
    <!-- Material icons -->
    <link rel="stylesheet" href="{% static 'lib/material-icons/css/icons.min.css' %}">
    <!-- jQuery -->
    <script src="{% static 'lib/jquery/jquery-3.6.0.min.js' %}"></script>
    <!-- Bootstrap -->
    {#    <link rel="stylesheet" href="{% static 'lib/bootstrap-4.6.0-dist/css/bootstrap.min.css' %}">#}
    <script src="{% static 'lib/bootstrap-4.6.0-dist/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'lib/admin-lte3/css/adminlte.min.css' %}">
    <!-- AdminLTE App -->
    <script src="{% static 'lib/admin-lte3/js/adminlte.min.js' %}"></script>
    <!-- sweetAlert -->
    <script src="{% static 'lib/sweetalert2/sweetalert2.all.min.js' %}"></script>
    <!-- jquery-confirm -->
    <link rel="stylesheet" href="{% static 'lib/jquery-confirm-v3.3.4/jquery-confirm.min.css' %}">
    <script src="{% static 'lib/jquery-confirm-v3.3.4/jquery-confirm.min.js' %}"></script>
    <!-- Functions -->
    <script src="{% static 'js/function.js' %}"></script>
    <!-- My css -->
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
    <!--jquery validator -->
    <script src="{% static 'lib/jquery-validation-1.19.3/dist/jquery.validate.min.js' %}"></script>
    <script src="{% static 'lib/jquery-validation-1.19.3/dist/additional-methods.min.js' %}"></script>
{#    <script src="{% static 'lib/jquery-validate/jquery-validate/localization/messages_eu.min.js' %}"></script>#}
    {#    <script src="{% static 'lib/jquery-validate/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js' %}"></script>#}

    <!-- Block head -->
    {% block head %}

    {% endblock %}
</head>
{% block body %}

{% endblock %}
</html>
