{% load widget_tweaks %}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true" style="min-width: 350px">
    {% block form %}
        <form id="myModalForm" enctype="multipart/form-data" method="post" name="" action=".">
            {% csrf_token %}
            <div class="modal-dialog modal-dialog-fromright" role="document">
                <div class="modal-content circular">
                    <div class="modal-header bg-light circular-top">
                        <h5 class="modal-title" id="myModalFormTitle">

                        </h5>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% for field in form.visible_fields %}
                            <div class="form-group">
                                <label for="email">{{ field.label }}:</label>
                                {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="modal-footer bg-light circular-bottom">
                        <button type="submit" class="btn bg-gradient-indigo circular">
                            <i class="mdi mdi-content-save"></i> Save {{ entity }}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    {% endblock %}
</div>


