{% load widget_tweaks %}
<div class="modal fade" id="links" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true" style="min-width: 350px">
    <div class="modal-dialog modal-sm modal-dialog-top modal-dialog-slideup" role="document">
        <div class="modal-content circular">
            <div class="modal-header bg-gradient-info circular-top">
                <h5 class="modal-title">
                    <i class="mdi mdi-link-variant mdi-18px"></i> Quick access
                </h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <a class="btn btn-app pt-0 text-body circular" href="{% url 'startpage:cart_list' %}"
                       target="_blank">

                            <span class="badge bg-info circular">{{ entity_count.cart }}</span>
                        <i class="mdi mdi-cart mdi-24px d-block"></i> Sales online
                    </a>
                    <a class="btn btn-app pt-0 text-body circular" href="{% url 'main:sale_create' %}" target="_blank">
                        <span class="badge bg-info circular">{{ entity_count.sale }}</span>
                        <i class="mdi mdi-cart-plus mdi-24px d-block"></i> Sales
                    </a>
                    <a class="btn btn-app pt-0 text-body circular" href="{% url 'user:user_list' %}" target="_blank">
                        <span class="badge bg-warning circular">{{ entity_count.user }}</span>
                        <i class="mdi mdi-account-multiple mdi-24px d-block"></i> Users
                    </a>
                </div>
                <div class="row">
                    <a class="btn btn-app pt-0 text-body circular" href="{% url 'main:category_list' %}"
                       target="_blank">
                        <span class="badge bg-teal circular">{{ entity_count.cat }}</span>
                        <i class="mdi mdi-widgets mdi-24px d-block"></i> Categories
                    </a>
                    <a class="btn btn-app pt-0 text-body circular" href="{% url 'main:product_list' %}" target="_blank">
                        <span class="badge bg-teal circular">{{ entity_count.prod }}</span>
                        <i class="mdi mdi-package-variant d-block mdi-24px"></i> Products
                    </a>
                    <a class="btn btn-app pt-0 text-body circular" href="{% url 'main:client_list' %}" target="_blank">
                        <span class="badge bg-success circular">{{ entity_count.cli }}</span>
                        <i class="mdi mdi-account-multiple-check mdi-24px d-block"></i> Clients
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


