{% load static %}
<aside class="main-sidebar elevation-4 sidebar-light-indigo" id="sidebar">
    <!-- Brand Logo -->
    <div class="user-panel d-flex elevation-2">
        <a href="{% url 'startpage' %}" class="brand-link border-bottom-0 py-1">
            <img src="{% static 'img/logo-sm-red-black.png' %}"
                 alt="TechnoSTAR Logo"
                 class="d-none icon-sm" style="margin-left: 0;height: 49px;width: 45.5px">

            <img src="{% static 'img/logo-lg-red-black.png' %}"
                 alt="TechnoSTAR Logo"
                 style="margin-left: 0;width: 120px;height: 49px"
                 class="icon-lg">
        </a>
        <a class="nav-link" href="#">
            <i class="mdi mdi-weather-night mdi-24px text-black-50" aria-hidden="true" id="theme"></i>
        </a>
    </div>
    <div class="sidebar pl-0">

        <div class="user-panel mt-3 d-flex border-bottom-0">
            <a href="#" class="image">
                <img alt
                     src="{% if request.user.get_image %}{{ request.user.get_image }}{% else %}{% static 'img/user2.png' %}{% endif %}"
                     class="img-circle elevation-1"
                     style="width: 37px;height: 37px">
            </a>
            <div class="info">
                <a href="#" class="d-block">{% if request.user.get_full_name %}{{ request.user.first_name }} | {{ request.user.username }}
                    {% elif request.user.username %}{{ request.user.username }}{% else %}Guest{% endif %}</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview"
                role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <div class="my-2 ml-1" style="border-top: 1px solid #4f5962"></div>
                <li class="nav-item has-treeview">
                    <a href="{% url 'dashboard' %}" class="nav-link active my-dash">
                        <i class="nav-icon mdi mdi-monitor-dashboard"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>
                <li class="nav-item has-treeview ">
                    <a href="#" class="nav-link my-stored">
                        <i class="nav-icon mdi mdi-store"></i>
                        <p>
                            Availability stored
                            <i class="right mdi mdi-menu-left-outline"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <a href="{% url 'main:category_list' %}" class="nav-link my-stored-cat">
                                <i class="mdi mdi-widgets nav-icon"></i>
                                <p>Category</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'main:product_list' %}" class="nav-link my-stored-prod">
                                <i class="mdi mdi-package-variant-closed nav-icon"></i>
                                <p>Products</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link my-accounts">
                        <i class="nav-icon mdi mdi-account-multiple-check"></i>
                        <p>
                            Registered accounts
                            <i class="right mdi mdi-menu-left-outline"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <a href="{% url 'main:client_list' %}" class="nav-link my-accounts-client">
                                <i class="mdi mdi-account-star nav-icon"></i>
                                <p>Clients</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'user:user_list' %}" class="w3-light-gray nav-link my-accounts-worker">
                                <i class="mdi mdi-worker nav-icon"></i>
                                <p>Users</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link my-sales">
                        <i class="nav-icon mdi mdi-cart"></i>
                        <p>
                            Sales record
                            <i class="right mdi mdi-menu-left-outline"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <a href="{% url 'main:sale_create' %}" class="nav-link my-sales-add">
                                <i class="mdi mdi-cart-plus nav-icon"></i>
                                <p>Create sale</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'main:sale_list' %}" class="nav-link my-sales-sales">
                                <i class=" mdi mdi-finance nav-icon"></i>
                                <p>Sales list</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'main:sale_report' %}" class="nav-link my-sales-reports">
                                <i class="mdi mdi-chart-bar nav-icon"></i>
                                <p>Sales report</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link my-sales-cart">
                        <i class="nav-icon mdi mdi-cart-outline"></i>
                        <p>
                            Sales online record
                            <i class="right mdi mdi-menu-left-outline"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <a href="{% url 'startpage:cart_list' %}" class="nav-link my-sales-cart-list">
                                <i class="mdi mdi-finance nav-icon"></i>
                                <p>Sales online list</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'startpage' %}" class="nav-link my-sales-cart-startpage">
                                <i class="mdi mdi-settings nav-icon"></i>
                                <p>Config S. Cart </p>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
        <div class="os-scrollbar os-scrollbar-horizontal os-scrollbar-unusable os-scrollbar-auto-hidden">
            <div class="os-scrollbar-track">
                <div class="os-scrollbar-handle" style="width: 100%; transform: translate(0px, 0px);"></div>
            </div>
        </div>
        <div class="os-scrollbar os-scrollbar-vertical os-scrollbar-auto-hidden">
            <div class="os-scrollbar-track">
                <div class="os-scrollbar-handle" style="height: 45.151%; transform: translate(0px, 0px);"></div>
            </div>
        </div>
        <div class="os-scrollbar-corner"></div>
    </div>

    <!-- /.sidebar -->
</aside>