{% load widget_tweaks %}
<div class="modal fade" id="myModalDetail" tabindex="-1" role="dialog" aria-labelledby="modal-slideright"
     aria-hidden="true" style="min-width: 350px">
    {% csrf_token %}
    <div class="modal-dialog modal-dialog-centered modal-sm modal-dialog-popout" role="document">
        <div class="modal-content circular">
            <div class="modal-body p-0 circular-top">

            </div>
            <div class="modal-footer">
                <a rel="save-img" class="btn bg-gradient-info text-white circular">
                    <i class="mdi mdi-image"></i> Save Card
                </a>
                <button class="btn bg-gradient-danger circular">
                    <i class="mdi mdi-cancel"></i> Close
                </button>
            </div>
        </div>
    </div>
</div>
