{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ title }}</title>

    <link rel="icon" href="{% static 'img/gestion.png' %}" type="image/x-icon">
    <!-- Theme style -->
{#    <link rel="stylesheet" href="{% static 'lib/bootstrap-4.6.0-dist/css/bootstrap.min.css' %}">#}
    <!-- jquery-confirm -->
{#    <link rel="stylesheet" href="{% static 'lib/jquery-confirm-v3.3.4/jquery-confirm.min.css' %}">#}
    <!-- My css -->
    {#    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">#}
    <link rel="stylesheet" type="text/css"
          href="{% static 'login/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
{#    <link rel="stylesheet" type="text/css" href="{% static 'login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">#}

{#    <link rel="stylesheet" type="text/css" href="{% static 'login/vendor/animate/animate.css' %}">#}
    <!--===============================================================================================-->
{#    <link rel="stylesheet" type="text/css" href="{% static 'login/vendor/css-hamburgers/hamburgers.min.css' %}">#}
    <!--===============================================================================================-->
{#    <link rel="stylesheet" type="text/css" href="{% static 'login/vendor/animsition/css/animsition.min.css' %}">#}
{#    <link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}">#}
{#    <link rel="stylesheet" type="text/css" href="{% static 'login/vendor/daterangepicker/daterangepicker.css' %}">#}
    <link rel="stylesheet" href="{% static 'login/css/util.css' %}">
    <link rel="stylesheet" href="{% static 'login/css/main.css' %}">

    {% block head %}

    {% endblock %}
</head>
<body>
{% block content %}

{% endblock %}
<!-- sweetAlert -->
<script src="{% static 'lib/sweetalert2/sweetalert2.all.min.js' %}"></script>
<!-- jQuery -->
<script src="{% static 'lib/jquery/jquery-3.6.0.min.js' %}"></script>
{#<script src="{% static 'lib/jquery-confirm-v3.3.4/jquery-confirm.min.js' %}"></script>#}

{#<script src="{% static 'login/vendor/animsition/js/animsition.min.js' %}"></script>#}
<!-- Bootstrap -->
{#<script src="{% static 'lib/bootstrap-4.6.0-dist/js/popper.js' %}"></script>#}
{#<script src="{% static 'lib/bootstrap-4.6.0-dist/js/bootstrap.min.js' %}"></script>#}

{#<script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>#}
{#<script src="{% static 'login/vendor/daterangepicker/moment.min.js' %}"></script>#}
{#<script src="{% static 'login/vendor/daterangepicker/daterangepicker.js' %}"></script>#}
{#<script src="{% static 'login/vendor/countdowntime/countdowntime.js' %}"></script>#}
<!-- Functions -->
{#    <script src="{% static 'js/function.js' %}"></script>#}
<script src="{% static 'login/js/main.js' %}"></script>
<script type="application/javascript">
  {% if form.errors %}
    let errors = '';
    {% for field in form %}
      {% for error in field.errors %}
        errors += '{{ error }}\n';
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      errors += '{{ error }}\n';
    {% endfor %}

    Swal.fire({
      title: 'Error',
      text: errors,
      icon: 'error'
    });
  {% endif %}
</script>
</body>
</html>
