{% extends 'login/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form-title"
                     style="background-image: url({% static 'login/images/bg-01.jpg' %});padding-bottom: 50px;padding-top: 50px">
                    <a href="{% url 'dashboard' %}"><img src="{% static 'img/logo-lg-yellow-white.png' %}"
                                                         alt="TechnoSTAR Logo"
                                                         style="margin-left: 0;width: 240px;height: 100px"
                                                         class=""></a>
                </div>

                <form class="login100-form validate-form" action="." method="post">
                    <input type="hidden" name="next" value="{{ next }}">
                    {% csrf_token %}
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                        <span class="label-input100">Username</span>
                        {{ form.username|add_class:'input100'|attr:'autocomplete:off'|attr:'placeholder:Enter username'|attr:'name:username' }}
                        {#                    <input class="input100" type="text" name="username" placeholder="Enter username">#}
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                        <span class="label-input100">Password</span>
                        {{ form.password|add_class:'input100'|attr:'autocomplete:off'|attr:'placeholder:Enter password'|attr:'name:pass' }}
                        {#                        <input class="input100" type="password" name="pass" placeholder="Enter password">#}
                        <span class="focus-input100"></span>
                    </div>

                    <div class="flex-sb-m w-full p-b-30">
                        <div class="contact100-form-checkbox">
                            <input class="input-checkbox100" id="ckb1" type="checkbox" checked disabled name="remember-me">
                            <label class="label-checkbox100" for="ckb1">
                                Remember me
                            </label>
                        </div>

                        <div>
                            {#                            <a href="{% url 'reset_password' %}" class="txt1">#}
                            <a href="#" class="txt1">
                                Forgot Password?
                            </a>
                        </div>
                    </div>

                    <div class="container-login100-form-btn">
                        <a href="{% url 'startpage' %}" class="boton login100-form-btn-outline m-r-4">
                            <i class="fa fa-angle-left"></i>&nbsp; Back
                        </a>
                        <button type="submit" class="login100-form-btn m-l-4">
                            <i class="fa fa-sign-in"></i>&nbsp; Login
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}