{% extends 'baselist.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'startpage/js/list.js' %}"></script>
{% endblock %}
{% block search %}
    <style>

    </style>
{% endblock %}
{% block columns %}
    <tr>
        <th scope="col" style="width: 15%">Client</th>
        <th scope="col" style="width: 15%">Date</th>
        <th scope="col" style="width: 30%">Address</th>
        <th scope="col" style="width: 15%">Status</th>
        <th scope="col" style="width: 10%">Total</th>
        <th scope="col" style="width: 15%">Options</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}
{% block buttons_list %}
    <div class="card-footer">
        <a href="{% url 'startpage' %}" class="btn bg-gradient-indigo circular">
            <i class="mdi mdi-plus"></i> New sale online
        </a>
    </div>
{% endblock %}

{% block javascript %}
    <div class="modal fade" id="myModalDet" tabindex="-1" role="dialog" aria-labelledby="myModalDetLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content circular">
                <div class="modal-header circular-top">
                    <h5 class="modal-title" id="myModalDetLabel"><i class="mdi mdi-cart"></i>
                        Details of the sale </h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card-body table-responsive p-0">
                        <table class="table table-head-fixed w3-hoverable-light" id="tblDet">
                            <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Category</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantify</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}