{% load static %}
<!--    modal-->
<div class="modal fade modal-card " id="contact" tabindex="-1" role="dialog" aria-labelledby="links1"
     aria-hidden="true" style="min-width: 350px" data-target="#contact">
    <div class="modal-dialog modal-dialog-top  modal-dialog-popout" role="document">
        <div class="modal-content circular">
            <div class="modal-header bg-light border-bottom-0 circular-top py-2">
                <h5 class="modal-title user-select-none">
                    <img src="{% static 'img/logo-lg-red-black.png' %}"
                         alt="TechnoSTAR Logo"
                         style="margin-left: .4rem;" width="120" height="50">
                </h5>
                <button type="button" class="btn-close mt-2" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body p-0 circular">
{#                <div class="card circular">#}
                    <div class="card-body asd p-4">
                        <div class="row">
                            <div class="col-7">
                                <p class="">Selling items | Web design | Programming | Home service |
                                    Marketing
                                </p>
                                <div class="card-text text-muted text-sm">
                                    <span class="d-block"><i class="mdi mdi-home-city"></i><span class="d-sm-inline-block d-none"> &nbsp;Dirección: </span>
                                        Caibarién / Villa
                                        Clara / Cuba</span>

                                    <span class="d-block"><i class="mdi mdi-cellphone-android"></i>
                                    <span class="d-sm-inline-block d-none">&nbsp;Phone #:</span>
                                    <a href="tel:+53 58496023" class="text-muted"> +53 58496023</a></span>

                                    <span class="d-block"><i class="mdi mdi-email"></i>
                                    <span class="d-sm-inline-block d-none">&nbsp;Mail:</span>
                                    <a href="mailto:gveitia13@gmail.com?Subject=Hola%20Gilbert"
                                               target="_top" class="text-muted">gveitia13@gmail.com</a></span>

                                </div>
                            </div>
                            <div class="col-5 text-center">
                                <div class="img-circle img-fluid img-contact"></div>
                                <!-- <img src="static/img/profile.jpg" alt="" class="img-circle img-fluid">-->
                            </div>
                        </div>
                    </div>
                    <div class="card-footer px-4">
                        <div class="text-right circular-bottom user-select-none">
                            <span class="d-inline-block float-left">Follow me:</span>
                            <a href="https://t.me/LilGil"><i class="mdi mdi-telegram w3-hover-opacity"
                                                             style="color: #2da5e1"></i></a>
                            <a href="https://api.whatsapp.com/send/?phone=+5358496023&text=Hola&app_absent=1"><i
                                    class="mdi mdi-whatsapp w3-hover-opacity" style="color: #2bc54e"></i></a>
                            <a href="https://www.linkedin.com/in/gilberto-veitia-urbay-45941116b"><i
                                    class="mdi mdi-linkedin w3-hover-opacity" style="color: #1178b3"></i></a>
                            <a href="https://github.com/gveitia13"><i class="mdi mdi-github-face w3-hover-opacity"
                                                                      style="color: dimgray"></i></a>
                            <a href="https://facebook.com/GilbeStar"><i class="mdi mdi-facebook w3-hover-opacity"
                                                                        style="color:#1976d2;"></i></a>
                            <a href="https://instagram.com/gilbertveitiaurbay"><i
                                    class="mdi mdi-instagram w3-hover-opacity" style="color:#c93470"></i></a>
                            <a href="https://twitter.com/GilbeStar?s=08"><i
                                    class="mdi mdi-twitter w3-hover-opacity"></i></a>

                            <a href="https://gveitia13.github.io/cv/" class="btn btn-sm btn-outline-primary circular"
                               target="_blank">
                                <i class="mdi mdi-account-plus"></i> <span
                                    class="d-sm-inline-block d-none">See more</span>
                            </a>
                        </div>
                    </div>
{#                </div>#}
            </div>
        </div>
    </div>
</div>