{% load static %}
<!-- Sidebar -->
<aside class="main-sidebar sidebar-light-indigo elevation-4">
    <div class="user-panel d-flex elevation-4">
        <a href="{% url 'startpage' %}" class="brand-link navbar-indigo border-bottom-0 elevation-4 py-1 text-white">
            <img src="{% static 'img/logo-sm-yellow-white.png' %}"
                 alt="TechnoSTAR Logo"
                 style="margin-left: 0;height: 49px;width: 46px"
                 class="d-none icon-sm">

            <img src="{% static 'img/logo-lg-yellow-white.png' %}"
                 alt="TechnoSTAR Logo"
                 style="margin-left: 0;width: 120px;height: 49px"
                 class="icon-lg">
        </a>
    </div>
    <div class="sidebar border-top-0 pl-0">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false" id="ul-sidebar">
                <li class="nav-item">
                    <a rel="cart" class="nav-link" style="cursor: pointer" data-toggle="modal" data-target="#cart">
                        <i class="nav-icon mdi mdi-cart"></i>
                        <p>
                            See Cart
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a rel="servicios" id="lol" class="nav-link" style="cursor: pointer">
                        <i class="nav-icon mdi mdi-settings"></i>
                        <p>
                            Services
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a rel="ver-lista" class="nav-link" style="cursor: pointer">
                        <i class="nav-icon mdi mdi-view-list"></i>
                        <p>
                            See list
                        </p>
                    </a>
                </li>
                <div class="mt-2 mb-2" style="border-top: 1px solid #4f5962"></div>
                <li class="nav-header pt-1">Categories</li>
                <li class="nav-item">
                    <a href="{% url 'startpage' %}" class="nav-link active startpage">
                        <i class="nav-icon mdi mdi-widgets"></i>
                        <p>
                            See all
                        </p>
                    </a>
                </li>
                <div class="rayita"></div>
                {% for cat in all_category %}
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon  {{ cat.getIconClass }}"></i>
                            <p>{{ cat.name }}</p>
                        </a>
                    </li>
                {% endfor %}

            </ul>
        </nav>
    </div>
</aside>