{% extends 'startpage/body.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
    {% for cat in all_category %}
        <h4 class="my-h4 px-4">{{ cat.name }}</h4>
        <div class="card-deck-wrapper">
            <div class="card-deck text-black-50">
                {% for prod in all_product %}
                    {% if prod.cat_id == cat.id %}
                        <div class="div-card col-12 col-sm-6 col-md-4 col-lg-3 py-lg-3 px-lg-2 px-0 py-2">
                            <span class="d-none prodName">{{ prod.name }}</span>
                            <div class="card m-1 prod-card ml-2 mr-2 bg-light card-zoom w3-hover-shadow circular"
                                 id="{{ prod.id }}">

                                <div class="row row-card">
                                    {% if prod.priority != 'Low' %}
                                        <div class="ribbon-wrapper">
                                            <div class="ribbon bg-gradient-warning" style="text-transform: none">
                                                <small>
                                                    <i class="mdi mdi-star"></i>
                                                    star
                                                    <i class="mdi mdi-star"></i>
                                                </small>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="col-4 col-sm-12">
                                        <div class="card-img-top div-img circular-top"
                                             style="background: url('{{ prod.get_image }}')"></div>
                                    </div>

                                    <div class="col-6 col-sm-12 row-card px-0">
                                        <div class="card-body row-card pr-0 py-sm-3 px-sm-4">
                                            <h5 class="card-title">{{ prod.name }}</h5>
                                            <p class="card-text m-0 prod-price">
                                                Price: <b>{{ prod.s_price }}</b> CUP
                                            </p>
                                            <p class="card-text p-stock m-0">
                                                Stock: {{ prod.stock }}
                                            </p>
                                            <p class="card-text prod-desc text-muted">{{ prod.get_desc }}</p>
                                            <button name="{{ prod.id }}"
                                                    class="btn prod-id bg-gradient-orange text-white circular
                                                    btn-sm float-right d-sm-inline-block d-none">
                                                <i class="mdi mdi-cart-plus"></i>
                                                <div class="d-inline-block">Add to cart</div>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="col-2 d-sm-none d-flex align-items-center row-card pl-0">
                                        <button name="{{ prod.id }}"
                                                class="btn prod-id bg-gradient-orange text-white circular-circle">
                                            <i class="mdi mdi-cart-plus"></i>
                                        </button>
                                    </div>
                                </div>

                            </div>

                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
{% block javascript %}
    <script>
      $(function () {
        setTimeout(() => $('a.inicio').click())
      })
    </script>
    {% comment %}   <script src="https://getchat.app/assets/js/min/getchatapp.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var gcaMain = new GetChatApp({
          'mobileNumber': '+5352385906',
          'titleMessage': '👋 Chat with me on WhatsApp!',
          'welcomeMessage': 'Hola',
          'position': 'right',
          'platforms': {
            'whatsapp': true,
            'facebook': true,
            'email': true,
            'instagram': false,
            'telegram': false,
          },
          'facebookPageId': '1165058603678776',
          'gcaEmailAddress': 'gveitia13@gmail.com',
          'gcaEmailSubject': 'Hola',
          'gcaInstagramUsername': '',
          'gcaTelegramUsername': '',
        });
      });
    </script>{% endcomment %}
{% endblock %}